<launch>

  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name = "world_name" value = "$(find mlp2wr_gazebo)/worlds/prueba.world"/>
  </include>

  <param name = "robot_description" command = "$(find xacro)/xacro.py
    $(find mlp2wr_description)/urdf/mlp2wr.xacro"/>

    <!--Posicion inicial del robot -->
      <arg name = "x" default = "0" />
      <arg name = "y" default = "0" />
      <arg name = "z" default = "0.5" />

  <!--Lanzar nodo-->
  <node name="spawn_urdf" pkg= "gazebo_ros" type ="spawn_model"   output = "screen"
args = "-urdf -param robot_description -model mlp2wr -x $(arg x) -y $(arg y) -z $(arg z)"/>

</launch>
