<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py  '$(find mlp2wr_description)/urdf/mlp2wr.xacro'"/>

   <!-- Llamar el nodo para ver los valores de los joints-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Llamar el nodo para ver los valores de los joints-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
